<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<head>
    <title>{% block title %}{% endblock %} - EIC Bet </title>

</head>

<body>
<button id="toggle-btn">☰</button>
<div id="mySidebar" class="sidebar">
    <ul>
        <li><a href="{{ url_for('pari.pari_combine') }}">Liste des matchs</a></li>  <!-- il faudra changer avec url_for-->
        <li><a href="{{ url_for('pari.pari_des_joueurs') }}">Matchs en cours </a></li>
        <li><a href="{{ url_for('pari.pari_unique')}}">Pari unique</a></li>
        <li><a href="{{ url_for('historique.pari_unique')}}">Résultats pari</a></li>
        <li><a href="{{ url_for('bilan.index') }}">Bilan financier</a></li>

    </ul>

</div>

<div id="main-content">


    {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

